@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-offer-gray {
  color: #374151;
}

/* Styles for react-pdf */
.react-pdf__Page__canvas {
  margin: 0 auto;
}

.sidebar {
  background-color: #f3f4f6;
  color: #374151;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdd3d8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
}

/* For expand/collapse functionality */
.expanded-sections [data-state='closed'] {
  display: flex;
}

.expanded-sections [data-state='open'] {
  display: flex;
}

/* Styling for the top navigation */
@media print {
  .top-nav-bar {
    display: none !important;
  }
}
